.warp {
   display: flex;
   flex-direction: column;
}

.title {
   font-size: 14px;
   font-style: italic;
}

.elementsWarp {
   /* background-color: aqua; */
   width: 99%;
   height: 190px;
   margin: 5px;
   display: flex;
   overflow-x: scroll;
   scrollbar-width: thin;
   user-select: none;
}

/* Document */

.documentWarp {
   height: 175px;
   /* background-color: rgb(189, 204, 203); */
   margin: 0 10px;
   /* flex: 1; */
   position: relative;
}

.document {
   position: relative;
   background-color: rgb(255, 255, 255);
   box-shadow: 2px 2px 6px #ccc;
   width: 115px;
   height: 160px;
   font-size: 16px;
   font-weight: 600;
   text-align: center;
   margin: 0;
   padding: 3px;
   cursor: pointer;
}

.userName {
   color: gray;
   font-size: 10px;
   font-weight: 700;
   display: block;
   /* margin-top: 15px; */
   padding: 10px 5px;
}

.document:hover {
   box-shadow: 2px 2px 20px rgb(199, 199, 199);
}

.time {
   position: absolute;
   bottom: 0px;
   font-size: 8px;
   font-style: italic;
   margin-left: auto;

   padding: 2px 0;
}

.delete {
   position: absolute;
   bottom: 15px;
   right: 4px;
   font-size: 15px;
}

.delete:hover {
   color: red;
   font-size: 18px;
}




/* For PC small screens */
@media (min-width: 0px) and (max-width: 1235px) {

   .title {
      font-size: 12px;

   }
   .documentWarp {
      height: 145px;
      /* background-color: rgb(189, 204, 203); */
      margin: 0 10px;
      /* flex: 1; */
      position: relative;
   }
   
   .document {
      position: relative;
      background-color: rgb(255, 255, 255);
      box-shadow: 2px 2px 6px #ccc;
      width: 92px;
      height: 137px;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      margin: 0;
      padding: 3px;
      cursor: pointer;
   }
   .elementsWarp {
      /* background-color: aqua; */
      width: 99%;
      height: 160px;
     
   }
}