.warpPage {
   display: flex;
   flex-direction: column;
   height: 100% ;
   background-color: rgba(240, 248, 255, 0.4);
}

.warpContent {
   flex: 1;
   width: 100%;
   height: 100%;
   display: flex;
}

.leftSideContent {
   width: calc(var(--widthScreen) / 12 * 2);
   /* width: 225px; */
   /* min-width: 225px; */
   /* background-color: antiquewhite; */
   border-right: 1px solid #ccc;
   margin: 2px;
}

.rightSideContent {
   width: calc(var(--widthScreen) / 12 * 10);

   /* background-color: antiquewhite; */
   margin: 2px 6px 2px 6px;
   display: flex;
   flex-direction: column;
}

.newReport {
   width: 100%;
   height: 185px;
   /* background-color: cornflowerblue; */
   margin: 2px;
   border-bottom: 1px solid #ccc;
}

.collection {
   width: 100%;
   /* background-color: cornflowerblue; */
   flex: 1;
   margin: 2px;
   overflow-y: scroll;
   scrollbar-width: thin;
}




/* For PC small screens */
@media (min-width: 0px) and (max-width: 1235px) {

   .newReport {
      width: 100%;
      height: 169px;
      /* background-color: cornflowerblue; */
      margin: 2px;
      border-bottom: 1px solid #ccc;
   }
}