:root {
   /* --widthScreen: 100%; */
   --widthScreen: 100vw;
   box-sizing: border-box;
}

.App {
   /* width: var(--widthScreen); */
   width: 100vw;
   height: 100vh;

   /* text-align: center; */
   /* max-width: 1440px; */
   background-color: rgb(255, 255, 255);
   padding: 0px;
   scrollbar-width: thin;

overflow-y: hidden;
}

/* Scroll Bar */
::-webkit-scrollbar {
   width: 6px;
   height: 8px;
}

::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
   /* border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
   /* border-radius: 5px; */
   -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
   /* border-radius: 5px; */
   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* ///////Loadding///////// */
.loader {
   position: absolute;
   border: 16px solid #f3f3f3; /* Light grey */
   border-top: 16px solid #3498db; /* Blue */
   border-radius: 50%;
   width: 100px;
   height: 100px;
   animation: spin 1s linear infinite;
   left: 46%;

   top: 50%;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
